
<div class="sidebar fl">
    <br/>
    <ul class="body_left_list">
        <li>
            <label>
                <span>宣 传</span>
                <i class="iconfont iconxiajiantou"></i>
                <a href="javascript:;"></a>
            </label>
            <ul>
                <li>
                    <label>
                        <i class="iconfont iconYYGK"></i>
                        <span>二级栏目1栏目1</span>
                        <i class="iconfont iconyoujiantou"></i>
                        <a href="javascript:;"></a>
                    </label>
                    <ul>
                        <li>
                            <label>
                                <span>三级栏目</span>
                                <i class="iconfont iconyoujiantou"></i>
                                <a href="javascript:;"></a>
                            </label>
                            <ul>
                                <li>
                                    <label>
                                        <span>四级栏目</span>
                                        <i class="iconfont iconyoujiantou"></i>
                                        <a href="javascript:;"></a>
                                    </label>
                                </li>
                                
                            </ul>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <label>
                        <i class="iconfont iconYYGK"></i>
                        <span>二级栏目2</span>
                        <i class="iconfont iconyoujiantou"></i>
                        <a href="javascript:;"></a>
                    </label>
                    <ul>
                        
                        <li>
                            <label>
                                <span>三级栏目</span>
                                <i class="iconfont iconyoujiantou"></i>
                                <a href="javascript:;"></a>
                            </label>
                            <ul>
                
                                <li>
                                    <label>
                                        <span>四级栏目</span>
                                        <i class="iconfont iconyoujiantou"></i>
                                        <a href="javascript:;"></a>
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </li>
        
        
    </ul>
</div>

